<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jbt.shopping.persistent.mappers.mall.GoodsStyleMapper">
  <cache type="com.destinyboy.jbt.utils.redis.RedisCache" />
  <resultMap id="BaseResultMap" type="com.jbt.shopping.persistent.entity.mall.GoodsStyle">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="style" jdbcType="VARCHAR" property="style" />
    <result column="price" jdbcType="DECIMAL" property="price" />
    <result column="stock" jdbcType="INTEGER" property="stock" />
    <result column="goods_id" jdbcType="INTEGER" property="goodsId" />
    <result column="thumbnail_picture" jdbcType="VARCHAR" property="thumbnailPicture" />
    <result column="enabled" jdbcType="INTEGER" property="enabled" />
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
  </resultMap>
  <sql id="baseWhere">
    <trim prefix="WHERE" prefixOverrides="AND">
      <if test="id!= null">
        AND id = #{id}
      </if>
      <if test="style!= null">
        AND style = #{style}
      </if>
      <if test="price!= null">
        AND price = #{price}
      </if>
      <if test="stock!= null">
        AND stock = #{stock}
      </if>
      <if test="goodsId!= null">
        AND goods_id = #{goodsId}
      </if>
      <if test="thumbnailPicture!= null">
        AND thumbnail_picture = #{thumbnailPicture}
      </if>
      <if test="enabled!= null">
        AND enabled = #{enabled}
      </if>
      <if test="updateTime!= null">
        AND update_time = #{updateTime}
      </if>
      <if test="createTime!= null">
        AND create_time = #{createTime}
      </if>
    </trim>
  </sql>
  <!-- # [无辜的分割线] -> [新增SQL请写在我下面，后果自负。] # -->
</mapper>