<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jbt.shopping.persistent.mappers.mall.RoleAuthoritiesMapper">
  <cache type="com.destinyboy.jbt.utils.redis.RedisCache" />
  <resultMap id="BaseResultMap" type="com.jbt.shopping.persistent.entity.mall.RoleAuthorities">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="role_id" jdbcType="INTEGER" property="roleId" />
    <result column="authorities_id" jdbcType="INTEGER" property="authoritiesId" />
  </resultMap>
  <sql id="baseWhere">
    <trim prefix="WHERE" prefixOverrides="AND">
      <if test="id!= null">
        AND id = #{id}
      </if>
      <if test="roleId!= null">
        AND role_id = #{roleId}
      </if>
      <if test="authoritiesId!= null">
        AND authorities_id = #{authoritiesId}
      </if>
    </trim>
  </sql>
  <!-- # [无辜的分割线] -> [新增SQL请写在我下面，后果自负。] # -->
</mapper>