<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <include resource="org/springframework/boot/logging/logback/base.xml" />
	<!-- Output to File -->
	<appender name="File" class="ch.qos.logback.core.rolling.RollingFileAppender">
		<File>/home/logs/shopping-platform/shopping-platform.log</File>
		<rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
			<FileNamePattern>
				/home/logs/shopping-platform/shopping-platform.%d{yyyy-MM-dd}.log
			</FileNamePattern>
			<!-- keep 1 days worth of history -->
			<MaxHistory>10</MaxHistory>
		</rollingPolicy>
		<encoder>
			<pattern>%d{yyyy-MM-dd HH:mm:ss} %level %c:%L - %msg%n</pattern>
			<charset>UTF-8</charset>
		</encoder>
	</appender>
   
    <!-- 测试环境+开发环境. 多个使用逗号隔开. -->
     <springProfile name="test,dev">
        <logger name="org.springframework.web" level="INFO">
        	<appender-ref ref="File" />
        </logger>
        <logger name="org.springboot.sample" level="INFO" >
        	<appender-ref ref="File" />
        </logger>
        <logger name="com.qs" level="info" >
        	<appender-ref ref="File" />
        </logger>
        <logger name="com.atomikos" level="error">
        	<appender-ref ref="File" />
		</logger>
    </springProfile>
 
   
    <!-- 生产环境. -->
    <springProfile name="prod">
        <logger name="org.springframework.web" level="error">
        	<appender-ref ref="File" />
        </logger>
        <logger name="org.springboot.sample" level="error" >
        	<appender-ref ref="File" />
        </logger>
        <logger name="com.qs" level="info" >
        	<appender-ref ref="File" />
        </logger>
        <logger name="com.atomikos" level="error">
        	<appender-ref ref="File" />
		</logger>
    </springProfile>
   
</configuration>